<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vayliu.ch7.dao.OrdersDao">

    <select id="selectOrdersByUserId" resultType="com.vayliu.ch7.pojo.Orders" parameterType="Integer">
        select * from t_orders where user_id = #{user_id}
    </select>

</mapper>