<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vayliu.ch7.dao.UserDao">

    <!-- 查询所有数据 -->
    <select id="selectAllUserByMap" resultType="com.vayliu.ch7.pojo.User" parameterType="map">
        select * from t_user
        where uname like concat('%', #{uname}, '%')
        and usex = #{usex}
    </select>

    <!-- 使用 Java Bean  -->
    <select id="selectAllUserByJavaBean" resultType="com.vayliu.ch7.pojo.User" parameterType="com.vayliu.ch7.pojo.User">
        select * from t_user
        where uname like concat('%', #{uname}, '%')
        and usex = #{usex}
    </select>

    <!-- 使用 sql元素 查询元素 -->
    <sql id="comColumns">uname, usex, account</sql>
    <select id="selectAllUserByJavaBeanWithSql" resultType="com.vayliu.ch7.pojo.User" parameterType="com.vayliu.ch7.pojo.User">
        select <include refid="comColumns"/> from t_user
        where uname like concat('%', #{uname}, '%')
        and usex = #{usex}
    </select>

    <!-- 使用 Map 存储结果集 -->
    <select id="selectAllUserReturnMap" resultType="map">
        select * from t_user
    </select>

    <!-- 使用 POJO 存储结果集 -->
    <resultMap id="resultMapUser" type="com.vayliu.ch7.pojo.MapUser">
        <id property="m_uid" column="uid"/>
        <result property="m_uname" column="uname"/>
        <result property="m_usex" column="usex"/>
        <result property="m_account" column="account"/>
    </resultMap>
    <select id="selectAllUserByResultMap" resultMap="resultMapUser">
        select * from t_user
    </select>

    <!-- 一对多根据 uid 查询用户及其关联的订单信息：级联查询的第一种方法（嵌套查询） -->
    <resultMap id="resultMapUserAndOrders1" type="com.vayliu.ch7.pojo.User">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="usex" column="usex"/>
        <result property="account" column="account"/>
        <collection property="ordersList" ofType="com.vayliu.ch7.pojo.Orders" column="uid"
                    select="com.vayliu.ch7.dao.OrdersDao.selectOrdersByUserId"/>
    </resultMap>
    <select id="selectUserOrdersById1" parameterType="Integer" resultMap="resultMapUserAndOrders1">
        select * from t_user where uid = #{uid}
    </select>

    <!-- 一对多根据 uid 查询用户及其关联的订单信息：级联查询的第二种方法（嵌套结果） -->
    <resultMap id="resultMapUserAndOrders2" type="com.vayliu.ch7.pojo.User">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="usex" column="usex"/>
        <result property="account" column="account"/>
        <!-- 一对多级联查询，ofType 表示集合中的元素类型 -->
        <collection property="ordersList" ofType="com.vayliu.ch7.pojo.Orders">
            <id property="id" column="id"/>
            <result property="ordersn" column="ordersn"/>
        </collection>
    </resultMap>
    <select id="selectUserOrdersById2" parameterType="Integer" resultMap="resultMapUserAndOrders2">
        select u.*, o.id, o.ordersn
        from t_user u , t_orders o
        where u.uid = o.user_id and u.uid=#{id}
    </select>

    <!-- 一对多根据 uid 查询用户及其关联的订单信息，连接查询（使用 POJO 存储结果） -->
    <select id="selectUserOrdersById3" parameterType="Integer" resultType="com.vayliu.ch7.pojo.SelectUserOrdersById">
        select u.*, o.id, o.ordersn
        from t_user u , t_orders o
        where u.uid = o.user_id and u.uid=#{id}
    </select>

</mapper>